.restaurants-index {
  background-color: #F0F0F0;
  width: 80%;
  height: 200px;
  border-radius: 1px solid #D8D8D8;
  border-radius : 10px;
  box-shadow: 2px 2px 2px #6A6A6A;
  margin: 20px auto ;
}

#restaurants-name-a {
  color: #CD2323;
}
